.book-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 2px 5px 0px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 140px; /* 카드 크기 줄이기 */
  text-align: center;
  display: inline-block; /* 한 줄에 표시 */
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
}

.book-card p {
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
}