.home-container {
  text-align: center;
}

.home-body-header {
  text-align: left;
}

.home-body-header > h2 {
  margin-bottom: 0;
}

.home-body-header > p {
  margin-top: 0;
  color: #616161;
  font-size: 14px;
}

.home-body-header .home-body-title {
  margin-bottom: 7px;
}
