@font-face {
  font-family: 'NotoSansKR';
  src: url('/NotoSansKR-VariableFont_wght.ttf');
}

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  color: #333;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
}

body * {
  font-family: 'NotoSansKR';
}

@media screen and (max-width: 768px) {
  #root {
    max-width: 100%; /* 모바일에서는 전체 너비 */
    box-shadow: none; /* 모바일에서는 그림자 제거 */
  }
}
